<section class="sub-view play-page">
    <div class="board-container" *ngIf="gameStarted">
        <div style="display: flex">
            <div class="coordinates" *ngFor="let item of [].constructor(11); let i = index">
                <h1 *ngIf="i > 0">{{i}}</h1>
            </div>
        </div>
        <!-- Rows - y -->
        <div *ngFor="let item of [].constructor(10); let y = index" class="board-row">
            <div class="coordinates">
                <h1>{{asciiFromCharCode(y + 65)}}</h1>
            </div>
            <!--Columns - x -->
            <app-board-cell *ngFor="let item of [].constructor(10); let x = index" 
                [state]="checkSunk({x: x, y: y}) ? 'sunk' :
                         checkHit({x: x, y: y}) ? 'hit' : 
                         checkMiss({x: x, y: y}) ? 'miss' : 'untouched' " 
                [hasShip]="debug && checkShipCell({x: x, y: y})"
                (onClick)="shoot({x: x, y: y})"
            >
            </app-board-cell>    
        </div>
    </div>
</section>
