.play-page {
    &>* ~ * {
        margin-top: var(--size-l);
    }
}

.board-ships-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    &>* ~ * {
        margin: var(--size-l);
    }
}

.coordinates {
    width: var(--size-xxl);
    height: var(--size-xxl);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--midnight-blue);

    h1 {
        color: var(--white);
        font-size: var(--size-xl);
    }
}

.board-container {
    padding: var(--size-m);
    background-color: var(--blue);
}

.board-row {
    display: flex;
}

.ships {
    max-width: 344px;
    padding: var(--size-m);
    background-color: var(--blue);
    .ships-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: -var(--size-xs);
        .ship {
            display: flex;
            flex-direction: row;
        }
        &>* {
            margin: var(--size-xs);
        }
    }
}