<div class="page">
  <header>
    <h1 class="title">{{title}}</h1>
  </header>
  <nav>
    <app-nav-item [active]="isRouteActive('settings')" (onClick)="navigate('settings')">Settings</app-nav-item>
    <app-nav-item [active]="isRouteActive('play')" (onClick)="navigate('play')">Play</app-nav-item>
    <app-nav-item [active]="isRouteActive('score')" (onClick)="navigate('score')" [disabled]="false">Score</app-nav-item>
  </nav>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</div>