button {
    padding: var(--size-m) var(--size-l);
    border: 2px solid var(--wet-asphalt);
    background-color: var(--wet-asphalt);

    font-size: var(--size-m);
    color: var(--clouds);
    font-weight: bold;
    
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: var(--midnight-blue);
        border-color: var(--midnight-blue);
    }

    &.outline {
        background-color: transparent;
        color: var(--wet-asphalt);
        
        &:hover {
            background-color: rgba(236, 240, 241, 0.1);
            color: var(--midnight-blue);
        }
    }
}