.board-cell {
    --cell-size: var(--size-xxl);
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--blue-light);
    border: 1px solid var(--blue);

    display: flex;
    align-items: center;
    justify-content: center;

    transition:  background-color 1s;

    &.hit {
        background-color: var(--green);
    }
    &.miss {
        background-color: var(--blue);
    }

    &.sunk {
        background-color: var(--red);
    }
    &.hit, &.miss, &.sunk {
        transition-duration: 0.3s;
    }

    &:not(.miss):not(.hit):not(.sunk):not(.noHover) {
        &:hover {
            cursor: pointer;
            background-color: var(--purple-light);
            transition:  background-color 0s;
        }
    }

    .debug-mark {
        width: var(--size-xl);
        height: var(--size-xl);
        background-color: var(--white);
    }
}