<form [formGroup]="form">
    <section class="sub-view settings-page">
        <p>Game state is : {{gameState}}</p>
        <div class="block">
            <h2>Player Info</h2>
            <div>
                <app-text-input
                    label="Name"
                    formControlName="name"
                ></app-text-input>
                <div class="error-container" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                    <p class="error" *ngIf="name?.errors?.['required']">Please provide a name.</p>
                    <p class="error" *ngIf="name?.errors?.['maxlength']">Maximum characters is 5.</p>
                </div>
            </div>
            <p>The name will be reflected on your score.</p>
        </div>
        <div class="block" [class.disabled]="form.value.mode === settingsFormModeType.CUSTOM" (click)="setMode(settingsFormModeType.PRESET)">
            <h2>Select Your Preffered Difficulty</h2>
            <div>
                <app-select 
                    label="Difficulty"
                    formControlName="difficulty" 
                    [options]="difficultyOptions"></app-select>
            </div>
            <ul>
                <li>Easy: You have unlimited turns.</li>
                <li>Medium: You have 50 turns.</li>
                <li>Hard: You have 25 turns.</li>
            </ul>
        </div>
        <div class="block" [class.disabled]="form.value.mode === settingsFormModeType.PRESET" (click)="setMode(settingsFormModeType.CUSTOM)">
            <h2>Or Add Your Custom Settings</h2>
            <div>
                <app-number-input
                    label="Number of Turns"
                    formControlName="maxTurns"
                ></app-number-input>
                <div class="error-container" *ngIf="turns?.invalid && (turns?.dirty || turns?.touched)">
                    <p class="error" *ngIf="turns?.errors?.['min']">Too few turns, 10 is the minimum number of turns you can have.</p>
                    <p class="error" *ngIf="turns?.errors?.['max']">Too many turns, 100 is the maximum number of turns you can have.</p>
                </div>   
            </div>
            <p>Manually set the maximum number of turns you'll be able to play.</p>
        </div>
        <div class="actions">
            <app-button>Save Settings</app-button>
            <app-button skin="outline" (onClick)="restoreForm()">Restore To Previous</app-button>
        </div>
        <!-- <app-button (onClick)="openDialog()">Open Dialog</app-button> -->
        <p>{{form.value | json}}</p>
    </section>
</form>
